load dataset and changle target name

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt


df = pd.read_csv("regression_data.csv")

df.columns = [str(col) for col in df.columns]


df = df.rename(columns={df.columns[-1]: "SalePrice"})

print(df.head())
print(df.info())
print(df.describe())

   1  60  RL    65   8450  Pave   NA  Reg  Lvl  AllPub  ... 0.8 NA.2   NA.3  \
0  2  20  RL  80.0   9600  Pave  NaN  Reg  Lvl  AllPub  ...   0  NaN    NaN
1  3  60  RL  68.0  11250  Pave  NaN  IR1  Lvl  AllPub  ...   0  NaN    NaN
2  4  70  RL  60.0   9550  Pave  NaN  IR1  Lvl  AllPub  ...   0  NaN    NaN
3  5  60  RL  84.0  14260  Pave  NaN  IR1  Lvl  AllPub  ...   0  NaN    NaN
4  6  50  RL  85.0  14115  Pave  NaN  IR1  Lvl  AllPub  ...   0  NaN  MnPrv

   NA.4  0.9 2.2  2008  WD   Normal  SalePrice
0   NaN    0   5  2007  WD   Normal     181500
1   NaN    0   9  2008  WD   Normal     223500
2   NaN    0   2  2006  WD  Abnorml     140000
3   NaN    0  12  2008  WD   Normal     250000
4  Shed  700  10  2009  WD   Normal     143000

[5 rows x 81 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 81 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1          1459 non-null   int64
 1   60         1459 non-null   int64
 2   RL         1459 non-null   object
 3   65         1200 non-null   float64
 4   8450       1459 non-null   int64
 5   Pave       1459 non-null   object
 6   NA         91 non-null     object
 7   Reg        1459 non-null   object
 8   Lvl        1459 non-null   object
 9   AllPub     1459 non-null   object
 10  Inside     1459 non-null   object
 11  Gtl        1459 non-null   object
 12  CollgCr    1459 non-null   object
 13  Norm       1459 non-null   object
 14  Norm.1     1459 non-null   object
 15  1Fam       1459 non-null   object
 16  2Story     1459 non-null   object
 17  7          1459 non-null   int64
 18  5          1459 non-null   int64
 19  2003       1459 non-null   int64
 20  2003.1     1459 non-null   int64
 21  Gable      1459 non-null   object
 22  CompShg    1459 non-null   object
 23  VinylSd    1459 non-null   object
 24  VinylSd.1  1459 non-null   object
 25  BrkFace    587 non-null    object
 26  196        1451 non-null   float64
 27  Gd         1459 non-null   object
 28  TA         1459 non-null   object
 29  PConc      1459 non-null   object
 30  Gd.1       1422 non-null   object
 31  TA.1       1422 non-null   object
 32  No         1421 non-null   object
 33  GLQ        1422 non-null   object
 34  706        1459 non-null   int64
 35  Unf        1421 non-null   object
 36  0          1459 non-null   int64
 37  150        1459 non-null   int64
 38  856        1459 non-null   int64
 39  GasA       1459 non-null   object
 40  Ex         1459 non-null   object
 41  Y          1459 non-null   object
 42  SBrkr      1458 non-null   object
 43  856.1      1459 non-null   int64
 44  854        1459 non-null   int64
 45  0.1        1459 non-null   int64
 46  1710       1459 non-null   int64
 47  1.1        1459 non-null   int64
 48  0.2        1459 non-null   int64
 49  2          1459 non-null   int64
 50  1.2        1459 non-null   int64
 51  3          1459 non-null   int64
 52  1.3        1459 non-null   int64
 53  Gd.2       1459 non-null   object
 54  8          1459 non-null   int64
 55  Typ        1459 non-null   object
 56  0.3        1459 non-null   int64
 57  NA.1       770 non-null    object
 58  Attchd     1378 non-null   object
 59  2003.2     1378 non-null   float64
 60  RFn        1378 non-null   object
 61  2.1        1459 non-null   int64
 62  548        1459 non-null   int64
 63  TA.2       1378 non-null   object
 64  TA.3       1378 non-null   object
 65  Y.1        1459 non-null   object
 66  0.4        1459 non-null   int64
 67  61         1459 non-null   int64
 68  0.5        1459 non-null   int64
 69  0.6        1459 non-null   int64
 70  0.7        1459 non-null   int64
 71  0.8        1459 non-null   int64
 72  NA.2       7 non-null      object
 73  NA.3       281 non-null    object
 74  NA.4       54 non-null     object
 75  0.9        1459 non-null   int64
 76  2.2        1459 non-null   int64
 77  2008       1459 non-null   int64
 78  WD         1459 non-null   object
 79  Normal     1459 non-null   object
 80  SalePrice  1459 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 923.4+ KB
None
                 1           60           65           8450            7  \
count  1459.000000  1459.000000  1200.000000    1459.000000  1459.000000
mean    731.000000    56.895134    70.054167   10518.244688     6.098698
std     421.321334    42.314997    24.294439    9984.540455     1.383270
min       2.000000    20.000000    21.000000    1300.000000     1.000000
25%     366.500000    20.000000    59.000000    7549.000000     5.000000
50%     731.000000    50.000000    69.500000    9480.000000     6.000000
75%    1095.500000    70.000000    80.000000   11603.000000     7.000000
max    1460.000000   190.000000   313.000000  215245.000000    10.000000

                 5         2003       2003.1          196          706  ...  \
count  1459.000000  1459.000000  1459.000000  1451.000000  1459.000000  ...
mean      5.575737  1971.246059  1984.853324   103.621640   443.459904  ...
std       1.113079    30.201821    20.647021   181.112397   456.202701  ...
min       1.000000  1872.000000  1950.000000     0.000000     0.000000  ...
25%       5.000000  1954.000000  1967.000000     0.000000     0.000000  ...
50%       5.000000  1973.000000  1994.000000     0.000000   383.000000  ...
75%       6.000000  2000.000000  2004.000000   165.500000   712.500000  ...
max       9.000000  2010.000000  2010.000000  1600.000000  5644.000000  ...

               0.4           61          0.5          0.6          0.7  \
count  1459.000000  1459.000000  1459.000000  1459.000000  1459.000000
mean     94.309116    46.650446    21.969157     3.411926    15.071282
std     125.357458    66.277681    61.137400    29.327247    55.775138
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000    25.000000     0.000000     0.000000     0.000000
75%     168.000000    68.000000     0.000000     0.000000     0.000000
max     857.000000   547.000000   552.000000   508.000000   480.000000

               0.8           0.9          2.2         2008      SalePrice
count  1459.000000   1459.000000  1459.000000  1459.000000    1459.000000
mean      2.760795     43.518849     6.324880  2007.815627  180902.293352
std      40.191018    496.291826     2.702182     1.328542   79466.457379
min       0.000000      0.000000     1.000000  2006.000000   34900.000000
25%       0.000000      0.000000     5.000000  2007.000000  129950.000000
50%       0.000000      0.000000     6.000000  2008.000000  163000.000000
75%       0.000000      0.000000     8.000000  2009.000000  214000.000000
max     738.000000  15500.000000    12.000000  2010.000000  755000.000000

[8 rows x 38 columns]

checking null and duplicates

In [3]:
print(df.isnull().sum())
print(f'Duplicates: {df.duplicated().sum()}')

1              0
60             0
RL             0
65           259
8450           0
            ...
2.2            0
2008           0
WD             0
Normal         0
SalePrice      0
Length: 81, dtype: int64
Duplicates: 0

droping null columns

In [4]:
df= df.dropna(axis=1)

print(df.isnull().sum())

1            0
60           0
RL           0
8450         0
Pave         0
            ..
2.2          0
2008         0
WD           0
Normal       0
SalePrice    0
Length: 62, dtype: int64

one hot encoding for obeject values

In [5]:
df_encoded = pd.get_dummies(df, drop_first=True)

# Check shape and sample
print(df_encoded.shape)
print(df_encoded.head())

(1459, 190)
   1  60   8450  7  5  2003  2003.1  706  0  150  ...  WD_ConLI  WD_ConLw  \
0  2  20   9600  6  8  1976    1976  978  0  284  ...     False     False
1  3  60  11250  7  5  2001    2002  486  0  434  ...     False     False
2  4  70   9550  7  5  1915    1970  216  0  540  ...     False     False
3  5  60  14260  8  5  2000    2000  655  0  490  ...     False     False
4  6  50  14115  5  5  1993    1995  732  0   64  ...     False     False

   WD_New  WD_Oth  WD_WD  Normal_AdjLand  Normal_Alloca  Normal_Family  \
0   False   False   True           False          False          False
1   False   False   True           False          False          False
2   False   False   True           False          False          False
3   False   False   True           False          False          False
4   False   False   True           False          False          False

   Normal_Normal  Normal_Partial
0           True           False
1           True           False
2          False           False
3           True           False
4           True           False

[5 rows x 190 columns]

checking the highest correaltions

In [6]:
# Compute correlations with SalePrice
correlation_with_target = df_encoded.corr()["SalePrice"].sort_values(ascending=False)

# Display top 15 correlations
print(correlation_with_target.head(15))

SalePrice          1.000000
7                  0.790974
1710               0.708599
2.1                0.640383
548                0.623400
856                0.613760
856.1              0.606197
2                  0.560619
8                  0.533680
2003               0.522867
2003.1             0.507047
PConc_PConc        0.497702
0.3                0.467319
Gd_Gd              0.452458
CollgCr_NridgHt    0.402229
Name: SalePrice, dtype: float64

selecting best features and testing model

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import numpy as np

# Exclude SalePrice from correlation list
feature_ranking = correlation_with_target.drop("SalePrice")



selected_features = ['7', '1710', '2.1', '548', '856', '856.1', '2', '8', '2003', '2003.1','PConc_PConc','0.3','Gd_Gd','CollgCr_NridgHt']
X = df_encoded[selected_features]
y = df_encoded["SalePrice"]
y = np.log1p(df_encoded["SalePrice"])

In [8]:
from sklearn.preprocessing import StandardScaler


X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.2, random_state=42
)

In [9]:
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
    
r2 = r2_score(y_test, y_pred)


# Show results

print(r2)

0.8166875951816633

1. Ridge Regression (L2 regularization)

In [10]:
from sklearn.linear_model import Ridge

ridge = Ridge(alpha=0.0001)  # you can tune alpha
ridge.fit(X_train, y_train)
y_pred = ridge.predict(X_test)

print("R² Ridge:", r2_score(y_test, y_pred))

R² Ridge: 0.8166875950792027

2. Lasso Regression (L1 regularization)

In [11]:
from sklearn.linear_model import Lasso

lasso = Lasso(alpha=0.001, max_iter=10000)
lasso.fit(X_train, y_train)
y_pred = lasso.predict(X_test)

print("R² Lasso:", r2_score(y_test, y_pred))

R² Lasso: 0.8161219676842051

3. ElasticNet (mix of L1 & L2)

In [12]:
from sklearn.linear_model import ElasticNet

enet = ElasticNet(alpha=0.001, l1_ratio=0.5, max_iter=1000)
enet.fit(X_train, y_train)
y_pred = enet.predict(X_test)

print("R² ElasticNet:", r2_score(y_test, y_pred))

R² ElasticNet: 0.8164773296997745

In [16]:
# 1) Convert booleans to int
X = df_encoded.astype(float)  # ensures all numeric
# OR: X = df_encoded.apply(pd.to_numeric)

# 2) Select your features
features = ['7', '1710', '2.1', '548', '856', '856.1', '2', '8', 
            '2003', '2003.1', 'PConc_PConc', '0.3', 'Gd_Gd', 'CollgCr_NridgHt']

X = X[features]

# 3) Train-test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 4) Standardize AFTER splitting
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_std = scaler.fit_transform(X_train)
X_test_std = scaler.transform(X_test)

In [ ]:
from sklearn.linear_model import SGDRegressor
from sklearn.metrics import r2_score
import numpy as np

# Define parameters to try
penalties = ["l1", "l2", "elasticnet"]
alphas = [0.0001, 0.001, 0.01]
etas = [0.001, 0.01, 0.1]  # learning rates

best_results = []

for penalty in penalties:
    for alpha in alphas:
        for eta in etas:
            sgd = SGDRegressor(
                penalty=penalty,
                alpha=alpha,
                learning_rate="constant",
                eta0=eta,
                max_iter=10000,
                tol=1e-5,
                random_state=42
            )
            sgd.fit(X_train_std, y_train)
            y_pred = sgd.predict(X_test_std)
            score = r2_score(y_test, y_pred)
            best_results.append((penalty, alpha, eta, score))

# Sort and print top configs
best_results.sort(key=lambda x: x[3], reverse=True)
for penalty, alpha, eta, score in best_results[:10]:
    print(f"SGD | penalty={penalty} | alpha={alpha} | eta0={eta} => R² = {score:.4f}")

SGD | penalty=l2 | alpha=0.01 | eta0=0.001 => R² = 0.8180
SGD | penalty=elasticnet | alpha=0.001 | eta0=0.001 => R² = 0.8177
SGD | penalty=l2 | alpha=0.001 | eta0=0.001 => R² = 0.8177
SGD | penalty=l1 | alpha=0.0001 | eta0=0.001 => R² = 0.8176
SGD | penalty=elasticnet | alpha=0.0001 | eta0=0.001 => R² = 0.8176
SGD | penalty=l2 | alpha=0.0001 | eta0=0.001 => R² = 0.8176
SGD | penalty=elasticnet | alpha=0.01 | eta0=0.001 => R² = 0.8175
SGD | penalty=l1 | alpha=0.001 | eta0=0.001 => R² = 0.8174
SGD | penalty=l1 | alpha=0.01 | eta0=0.001 => R² = 0.8130
SGD | penalty=elasticnet | alpha=0.0001 | eta0=0.01 => R² = 0.8088